body{
    color: aliceblue;
    margin: 0;
    background-color: black;
    font-size: 24px;
    font-family: Arial, sans-serif;
}
a{
    text-decoration: none;
}
.logo{
    width: auto;
    height: 150px;
}
.Senai{
    width: max-content;
    height: 150px;
    display: flex;
    justify-content: space-around;
}
section{
    padding: 2%;
}
.capa{
    color: rgb(255, 255, 255);
    height: 500px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sobreocurso{
        text-align: end
}        
h1{
            font-size: 100px;
            text-align: end;
            text-transform: uppercase;
}
.fotolaura{
        width: 400px;
}
    .grupo-aluno{
        display: flex;
        justify-content: space-around;
    }
.portfolio{
    height: 50vh;
    background-color: black;
    display: flex;
    align-items: center;
}
.port-list{
    flex: 1;
    text-align: center;
}
.aluno{
    display: flex;
    justify-content: space-around;
    gap: 100px;
}
.sobremim{
    text-align: right;
}
.grupos-title{
    height: 80vh;
    background-color: rgb(0, 0, 0);
    
}
.Grupos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.logo-grupo{
   height: 150px;
   flex: 2;
}

.logo-small{
    height: auto;
    width: 300px;
}
.grupos{
    flex: 0 0 20%; 
    margin: 30px;
}
